.popup__input {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  outline: none;
  padding: 0 0 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
}

.popup__input:last-child {
  margin-bottom: 0;
}