.popup__save {
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 14px;
    width: 100%;
    border-radius: 2px;
}

.popup__save:hover {
    opacity: .8;
}