@import '../vendor/normalize.css';
@import '../vendor/fonts/fonts.css';

@import '../blocks/page/page.css';

@import '../blocks/header/header.css';

@import '../blocks/profile/profile.css';
@import '../blocks/profile/__add-button/profile__add-button.css';
@import '../blocks/profile/__edit-button/profile__edit-button.css';
@import '../blocks/profile/__avatar-image/profile__avatar-image.css';
@import '../blocks/profile/__avatar/profile__avatar.css';
@import '../blocks/profile/__description/profile__description.css';
@import '../blocks/profile/__info/profile__info.css';
@import '../blocks/profile/__name/profile__name.css';

@import '../blocks/button/button.css';

@import '../blocks/cards/cards.css';

@import '../blocks/card/card.css';
@import '../blocks/card/__body/card__body.css';
@import '../blocks/card/__head/card__head.css';
@import '../blocks/card/__icon/card__icon.css';
@import '../blocks/card/__icon/_type/card__icon_type_filled.css';
@import '../blocks/card/__icon/_type/card__icon_type_outline.css';
@import '../blocks/card/__image/element__image.css';
@import '../blocks/card/__name/card__name.css';
@import '../blocks/card/__button/card__button.css';
@import '../blocks/card/__button/_active/card__button_active.css';

@import '../blocks/footer/footer.css';
@import '../blocks/footer/__copyright/footer__copyright.css';

@import '../blocks/popup/popup.css';
@import '../blocks/popup/_opened/popup_opened.css';
@import '../blocks/popup/__close/popup__close.css';
@import '../blocks/popup/__save/popup__save.css';
@import '../blocks/popup/__container/popup__container.css';
@import '../blocks/popup/__input/popup__input.css';
@import '../blocks/popup/__inputs/popup__inputs.css';
@import '../blocks/popup/__title/popup__title.css';

@import '../blocks/input/input.css';





